<div class="container">
  <app-loading-spinner [isLoading$]="isLoading$"></app-loading-spinner>

  <div>&nbsp;</div>

  <div class="content" *ngIf="document$ | async as document">
    <div [innerHtml]="getHtml(document)"></div>
    <mat-divider></mat-divider>

    <div class="footer">
      <div class="signing-card" *ngIf="!document.isSigned">
        <app-signature-pad></app-signature-pad>

        <form [formGroup]="signFormGroup" (ngSubmit)="onSign(signFormGroup.value)" class="sign-form">
          <div class="email-section">
            <mat-form-field [style.width.px]=327>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-checkbox color="primary" formControlName="sendToEmail">Send to email</mat-checkbox>
          </div>
          <div class="button-group">
            <button type="button" mat-mini-fab color="primary" (click)="onShareClick()">
              <mat-icon>share</mat-icon>
            </button>
            <button type="button" class="large" mat-raised-button (click)="onClear()">Clear</button>
            <button type="submit" class="large" mat-raised-button color="primary">Sign</button>
          </div>
        </form>
      </div>

      <div class="signed-card" *ngIf="document.isSigned">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M16 3.93552C14.795 3.33671 13.4368 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 11.662 20.9814 11.3283 20.9451 11M21 5L12 14L9 11"
              stroke="#08a43c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
        <div class="message">
          Thank you!
        </div>
      </div>
    </div>
  </div>

  <div>&nbsp;</div>
</div>

<ng-template #shareDialog>
  <app-share-card [url]="locationHref"></app-share-card>
</ng-template>