<div class="container">
  <app-loading-spinner [isLoading$]="isLoading$"></app-loading-spinner>
  <div class="header">
    <button mat-fab color="primary" (click)="onNewClicked()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="onDeleteClicked()" [disabled]="!selected.length">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <ag-grid-angular class="ag-theme-alpine" [rowData]="bookings$ | async" [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
    (firstDataRendered)="onFirstDataRendered()" (selectionChanged)="onSelectionChanged($event)" domLayout="autoHeight"
    rowSelection="multiple">
  </ag-grid-angular>
</div>

<ng-template #controlsTemplate let-rowData>
  <div class="row-controls">
    <button mat-icon-button color="primary" (click)="onRowCopyClicked($event, rowData)">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onRowEditClicked(rowData)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="onRowDeleteClicked(rowData)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>